{% extends "base.html" %}
{% load i18n %}


{% block main %}
  <main>
    <h1 class="my-4">{% translate "Statuses" %}</h1>

    <a class="btn btn-primary mb-3" href="{% url 'create_statuse' %}">{% translate "Create status" %}</a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>{% translate "Name" %}</th>
          <th>{% translate "Create date" %}</th>
          <th></th>
        </tr>
      </thead>

      {% for statuse in statuses %}
      <tbody>
          <tr>
            <td>{{ statuse.id }}</td>
            <td>{{ statuse.name }}</td>
            <td>{{ statuse.timestamp }}</td>
            <td>
              <a href="{% url 'update_statuse' statuse.id %}">{% translate "Change" %}</a>
              <br>
              <a href="{% url 'delete_statuse' statuse.id %}">{% translate "Delete" %}</a>
            </td>
          </tr>
      </tbody>
      {% endfor %}
    </table>

  </main>
{% endblock %}